body{
    background: #212121;
    font-family: Arial;
}

@font-face {
    font-family: "Daft";
    src: url("DaftFont.TTF") format("opentype");
}
h1{
    font-family: "Daft";
    font-size: 60pt;
    color:navajowhite;
    text-shadow: 0 0 5px white;
}
p{
    font-size: 20pt;
}
#p1{
    color: #abab48;
}
img{
    width: 800px;
    box-shadow: 0 0 10px grey;
}
h2{
    font-family: "Daft";
    font-size: 50pt;
    color: #ffcc00;
    text-shadow: 0 0 5px #fffd71;
}
#p2{
    color:silver;
}
ul>li{
    font-family: Daft;
    list-style-type: none;
    font-size:20pt;
    color: #fffd71;
}